body{
	/*font-family: Open Sans !important;*/
	font-family: 'Montserrat' !important;
}

/**Barras de navegacion*/
 .navbar{background-color: #335599;}
 .navbar-default .navbar-nav > li > a, .navbar-default .navbar-text, .navbar-default .navbar-brand{color: #ffffff !important;}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color: #3572B0;}

 /* 3 bard (Burger)*/
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-default .navbar-toggle {border-color: #ddd;background-color: transparent;}

 /**Listas*/
 ul{list-style: none;}

/*Tablas*/
.table-header{background-color: #5B94E0;color: #fcfcfc;}
h3{color:#335599;font-weight: 600;margin-top: 11px !important;}
.pagination{float:right;}
.pagination{margin: 0 auto !important;}
.navbar-brand{padding:5px 15px !important;}
.logo-nav{
	width:80px;
	top:0 !important;
}

.titulo_filtro{

color:#335599;

}

.filtros{
	margin-top: 20px;
}

.detalles{
cursor: pointer;

}

.detalles:hover, .detalles.active{
	border-bottom: solid #335599;
}


#tabla_contenido{
	margin-top: 5px;
}